.actif {
    font-weight: bold;
    color: black;
}


/* styles.css */

.animated-input {
    transition: width 0.3s ease-in-out;
    width: 150px;
    /* Largeur initiale de la zone de texte */
}

.animated-input:focus {
    width: 200px;
    /* Largeur lorsqu'elle est en focus */
}