.gallery {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

ul {
    list-style: none;
}

#ee {
    width: 200px;
}

#imag {
    filter: drop-shadow(0 0 0.75rem #805050);
}

.islem b {
    text-align: center;
}

.gallery {
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin: 50px;
}

ul {
    list-style: none;
}

.content {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: white;
}

.content:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

#image {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.bod {
    margin: 0;
    font-size: sans-serif;
}

.buy-1 {
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin: top 5px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

li {
    padding-top: 5px;
}

.fa {
    font-size: 16px;
    transition: .4s;
    margin: 3px;
}

.checked {
    color: #ff9f43;
}

.fa :hover {
    transform: scale(1.3);
    transition: .6s;
}

@media(max-width:1000px) {
    .content {
        width: 45%;
    }
}

@media(max-width:750px) {
    .content {
        width: 100%;
    }
}

s {
    color: red;
}

.mar {
    text-align: center;
    margin-bottom: 40px;
    color: black;
    padding-top: 10px;
    font-weight: bold;
}

section {
    background-color: #c89f9c;
}

.h2 section {
    color: #805050;
}

.ay {
    text-decoration: none;
    color: white;
}

.com {
    background-color: rgb(252, 252, 245);
    margin-top: 20px;
    margin-bottom: 30px;
}