<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2edcef3ce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>therapy makeup store</title>

</head>

<body>

    <div class="header">
        <div class="container" style="color:#000;font-size:16px;font-weight: 400.25;background-color:white">
            <div class="row">
                <div class="col-md-9" style="padding: 8px 6px 0px; white-space: nowrap; text-align:center">
                    <a style="color:#000" href="tel:+21621161000">
                        <span style="margin-right: 8px;float:left">
                        <i style="color:#000" class="fa fa-phone"></i>
                        (+216) 95 807 668
                    </span>
                    </a>
                    <i class="fa-solid fa-truck"></i> Livraison gratuite à partir de 100<sup>dt</sup> d'achats
                </div>
                <div class="col-md-3" style="padding: 6px; white-space: nowrap;">
                    <a style="text-align:right;padding-top: 2px;color:#000;font-size:14px" routerLink="/contact">
                        <i class="fa-solid fa-envelope " style="margin-right: 8px;font-size: 22px;"></i>CONTACT
                    </a>


                    <span style="margin-right: 20px;"></span>

                    <a style="text-align:right;padding-top: 2px;color:#000;font-size:14px" routerLink="/register">
                        <i class="fa-solid fa-user" style="margin-right: 4px; font-size: 22px;"></i>MON COMPTE
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row" style="text-align: center; background-color:#F3E3DE;">
                <div class="col-md-12">
                    <img class="logo img-responsive" src="assets/a.png" alt="makeupstore" width="270px" height="200px">
                </div>
            </div>
        </div>
    </div>


</body>

</html>