<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <title>CONTACT US </title>
</head>

<body>

    <!--feedbacks-->
    <div class="feedbacks">
        <h2>Feedbacks</h2>

        <div class="fd-box a">
            <p>I've been using this brand for years and it never disappoints. Their products are long-lasting and high-performing, making them worth every penny..</p>
            <div class="person-info">
                <img src="assets/islem.jpg" alt="">
                <h4>Tyrell Wellick <br> <span>Security Analyst </span></h4>

            </div>
        </div>



        <div class="fd-box">
            <p>I absolutely love this makeup brand! The quality of their products is outstanding and the color selection is impressive.</p>
            <div class="person-info">
                <img src="assets/17.jpg" alt="">
                <h4> Darlene Alderson <br> <span>Security Analyst </span></h4>

            </div>
        </div>

        <div class="fd-box">
            <p>I recently tried this brand for the first time and I'm hooked. The pigmentation of their eyeshadows is amazing and their foundation blends seamlessly into my skin.</p>
            <div class="person-info">
                <img src="assets/18.jpg" alt="">
                <h4>Angela Moss <br> <span>Security Analyst </span></h4>

            </div>
        </div>

        <div class="clearfix"></div>
    </div>

    <!--feedbacks-->

    <!--contact-->
    <div class="contact">
        <h2>Contact Us</h2>

        <form action="php/contact-us.php" method="post">
            <div class="left">
                <input type="text" placeholder="Your Name" name="username">
                <input type="text" placeholder="Your Phone" name="phone">
                <input type="email" placeholder="Your Email" name="email">
                <input type="text" placeholder="Your Subject " name="Subject">
            </div>
            <div class="right">
                <textarea name="message" placeholder="Your Message"></textarea>
                <input type="submit" value="Send">
            </div>

        </form>
        <div class="clearfix"></div>
        <!--contact-->