<section class="home">


    <div class="video-container">
        <video loop autoplay muted width="100%" height="100%"> 
        <source src="../../../assets/makeupVid.mp4"> 
    </video>
    </div>
    <div class="ccontent">
        <h3>WAKE UP AND MAKEUP !</h3>
        <p> Love of beauty is taste , creation of beauty is art</p>
        <button class="btn btn-warning" routerLink="/produit" routerLinkActive="active"> Découvrir plus</button>
    </div>
</section>

<!-- produit.component.html -->
<div *ngIf="products">
    <h1>NOS PRODUITS </h1>
    <div class="gallery">
        <div class="content" *ngFor="let product of products" style="background-color: #F6EEEC; ">
            <img src="{{product.image}}" id="image">
            <h5>{{product.nom}}</h5>
            <h5>{{product.description}}</h5>

            <!-- Afficher la promotion en rouge si elle est différente de 0 -->
            <ng-container *ngIf="product.promo !== 0; else noPromo">
                <h6><sup class="promo-price">{{product.promo}}TND </sup> <s> .<sup> {{product.prix}}TND</sup></s></h6>
            </ng-container>
            <ng-template #noPromo>
                <h6><sup>{{product.prix}}TND</sup></h6>
            </ng-template>

            <ul>
                <li *ngFor="let star of [1, 2, 3, 4, 5]">
                    <i class="fa fa-star checked"></i>
                </li>
            </ul>

            <button class="btn btn-warning" routerLink="/panier" routerLinkActive="active"> Ajouter au panier</button>

        </div>
    </div>
</div>


<app-footer></app-footer>